In [18]:
import pandas as pd
iris=pd.read_csv('./input_data/iris.csv')
iris['data_version']=1.0
#iris2=iris.reset_index()
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name  data_version
0          5.1         3.5          1.4         0.2  Iris-setosa           1.0
1          4.9         3.0          1.4         0.2  Iris-setosa           1.0
2          4.7         3.2          1.3         0.2  Iris-setosa           1.0
3          4.6         3.1          1.5         0.2  Iris-setosa           1.0
4          5.0         3.6          1.4         0.2  Iris-setosa           1.0

In [26]:
from sqlalchemy import create_engine
import os
pgconfig={
    'host':os.environ['DB_HOST'],
    'port':os.environ['DB_PORT'],
    'database':os.environ['DB_NAME'],
    'user':os.environ['DB_USER'],
    'password':os.environ['DB_PASSWORD']
}
engine=create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig))

In [21]:
columns=['data_version',
       'SepalLength',
       'SepalWidth',
       'PetalLength',
       'PetalWidth']
#iris[columns].head()
iris[columns].to_sql('iris_input',engine,if_exists='append',index=False)

In [38]:
from sqlalchemy import create_engine
import os
pgconfig={
    'host':os.environ['DB_HOST'],
    'port':os.environ['DB_PORT'],
    'database':os.environ['DB_NAME'],
    'user':os.environ['DB_USER'],
    'password':os.environ['DB_PASSWORD']
}
%reload_ext sql
#dsl='postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)
#dsl="postgresql://postgres:postgres@db:5432/analysis"
%sql postgresql://postgres:postgres@db:5432/analysis
#%sql postgresql://{user}:{password}@{host}/{database}.format(**pgconfig)

'Connected: postgres@analysis'

In [39]:
%config SqlMagic.autopandas=True
df_input=%sql select * from iris_input
df_input.head()

 * postgresql://postgres:***@db:5432/analysis
150 rows affected.

   data_version  SepalLength  SepalWidth  PetalLength  PetalWidth
0           1.0          5.1         3.5          1.4         0.2
1           1.0          4.9         3.0          1.4         0.2
2           1.0          4.7         3.2          1.3         0.2
3           1.0          4.6         3.1          1.5         0.2
4           1.0          5.0         3.6          1.4         0.2

In [40]:
df_src=df_input[['SepalLength','SepalWidth','PetalLength','PetalLength']]
df_src.head()

   SepalLength  SepalWidth  PetalLength  PetalLength
0          5.1         3.5          1.4          1.4
1          4.9         3.0          1.4          1.4
2          4.7         3.2          1.3          1.3
3          4.6         3.1          1.5          1.5
4          5.0         3.6          1.4          1.4

In [42]:
from sklearn.cluster import KMeans
kms=KMeans(n_clusters=3,random_state=1)
clusters=kms.fit_predict(df_src)
clusters

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2], dtype=int32)

In [43]:
import joblib

ModuleNotFoundError: No module named 'joblib'